#skills {
  overflow: hidden;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
.skillTitle {
  font-size: 4rem;
  max-width: 40rem;
  font-weight: 600;
  font-family: sans-serif;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
}
.skillDesc {
  font-weight: 200;
  font-size:1.3rem;
}
.skillsbars{
    margin: 2rem;
    width: 50vw;
    max-width: 70%;
    text-align: left;
}
.skillbar{
    display: flex;
    margin: 2rem ;
    padding: 1.5rem;
    border-radius: 0.7rem;
    background: rgb(53, 52, 52);
}
.skillbarImg{
    object-fit: cover;
    margin: 0.2rem;
    height: 3rem;
    width: 5rem;
    margin-right: 1.5rem;
    
}
.skillbarText{
    font-size: 1rem;
    font-weight: 100;

}

@media screen and (max-width:550px) {
    .skillbarText>p{
        font-size: 1rem;
    }
    .skillbars{
        flex-direction: column;
        margin-top: 5px;
        width: 300px;
    }
  .skillDesc{
    font-size: 0.5rem;
    width: 50%;
  }

}