#skills {
  overflow: hidden;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
.skillTitle {
  font-size: 3rem;
  max-width: 40rem;
  font-weight: 600;
  font-family: sans-serif;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
}
.skillDesc {
  font-weight: 400;
  font-size:0.9rem;
  max-width: 40rem;
  padding: 0 2rem;
}
.skillsbars{
    margin: 2rem;
    width: 40vw;
    max-width: 70%;
    text-align: left;
}
.skillbar{
    display: flex;
    margin: 2rem ;
    padding: 0.2rem 2rem;
    border-radius: 0.7rem;
    background: rgb(53, 52, 52);
}
.skillbarImg{
    object-fit: cover;
    margin: 0.2rem;
    height: 3rem;
    width: 5rem;
    margin-right: 1.5rem;
    
}
.skillbarText{
    font-size: 1rem;
    font-weight: 100;

}

@media screen and (max-width:720px) {
    .skillbarText>p{
        font-size: 2vw;
    }
    .skillbar{
        flex-direction: column;
        margin-top: 10px;
        width: 200px;
    }
  

}