.navbar {
  background: rgb(0, 0, 0);
  height: 6rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  font-family: sans-serif;
  top: 0;
  z-index: 3;
}
.logo {
  object-fit: cover;
  height: 4rem;
  width: 5rem;
}
.navOpen {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  border-radius: 8px;
  cursor: pointer;
}
.navClose {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  border-radius: 8px;
  cursor: pointer;
}
.desktopMenuListItem {
  font-size: 1.4rem;
  margin: 1.8rem;
  cursor: pointer;
}

.desktopMenuListItembtn {
  margin: 2rem;
  height: 2rem;
  width: 5rem;
  background: linear-gradient(50deg, #af77e4, #fc993d);
  border: none;
  border-radius: 20px;
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: bold;
  color: rgb(231, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.mobilemenu {
  display: none;
}
.mobileListItem {
  color: black;
  width: 100%;
}
.desktopMenuListItembtn:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.desktopMenuListItem:hover {
  color: rgb(255, 201, 135);
  padding-bottom: 0.2rem;
  border-bottom: 2px solid rgb(255, 201, 155);
}
.dektopImg {
  object-fit: cover;
  height: 1.5rem;
  width: 1.5rem;
}
.desktopbtn {
  background: white;
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  border-radius: 2rem;
  cursor: pointer;
}
.active {
  color: rgb(240, 155, 45);
}
.navOpen {
  display: none;
}
.navClose {
  display: none;
}
@media (max-width: 550px) {
  .navbar {
    margin: 20px 50px;
    display: none;
  }
  .desktopmenu {
    display: none;
  }
  .navOpen {
    display: block;
    position: fixed;
    right: 10px;
    cursor: pointer;
  }

  .desktopbtn {
    display: none;
  }
  .mobilemenu {
    background: rgb(122, 105, 105);
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 50vh;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px 20px;
    z-index: 97;
  }
  .mobileListItem {
    width: 100%;
    padding: 5px;
  }
}
