.navbar {
  background: rgb(0, 0, 0);
  height: 4.9rem;
  margin: 0 auto;
  padding: 1rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  font-family: sans-serif;
  top: 0;
  z-index: 3;
}
.logo {
  object-fit: cover;
  height: 4rem;
  width: 5rem;
}
.navOpen {
  display: none;
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  border-radius: 8px;
  cursor: pointer;

}
.navClose {
  display: none;
  object-fit: cover;
  height: 4rem;
  width: 4rem;
  border-radius: 8px;
  cursor: pointer;
}
.desktopMenuListItem {
  font-size: 1.4rem;
  margin: 1.8rem;
  cursor: pointer;
}

.desktopMenuListItembtn {
  margin: 2rem;
  height: 2rem;
  width: 5rem;
  background: linear-gradient(50deg, #af77e4, #fc993d);
  border: none;
  border-radius: 20px;
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: bold;
  color: rgb(231, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.mobilemenu {
  display: none;
}
.mobileListItem {
  background: white;
  color: black;
  width: 100%;
}
.desktopMenuListItembtn:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.desktopMenuListItem:hover {
  color: rgb(255, 201, 135);
  padding-bottom: 0.2rem;
  border-bottom: 2px solid rgb(255, 201, 155);
}
.dektopImg {
  object-fit: cover;
  height: 1.5rem;
  width: 1.5rem;
}
.desktopbtn {
  background: white;
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  display: flex;
  padding: 0 2rem;
  border-radius: 2rem;
  cursor: pointer;
}
.active {
  color: rgb(240, 155, 45);
}

@media (max-width: 400px) {
  .navbar {
  display: none;
  }
  .desktopmenu {
    display: none;
  }
  .navOpen {
    display: block;
    position: fixed;
    top: 20px;
    right: 120px;
    cursor: pointer;
    z-index: 99;
  }
  .navClose {
    display: block;
    position: absolute;
    right: 0;
    height: 3rem;
    width: 3rem;
    top: 10px;
    z-index: 99;
}
  .mobileImg{
    height: 2rem;
    width: 2rem;
    border-radius: 20px;
 
  }

  .desktopbtn {
    display: none;
  }
  .mobilemenu {
    background: rgb(252, 252, 252);
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100vh;
    color: black;
    position: absolute;
    top: 0;
    right: 0px;
    padding: 16px 20px;
    z-index: 97;
  }
  .mobileListItem {
    width: 100%;
    padding: 5px;
  }
.mobileListItem1{
  padding: 10px 10px;
  
}
}
